@import "tailwindcss";

@import "preline/variants.css";
@source "../node_modules/preline/dist/*.js";
@plugin "@tailwindcss/forms";


body {
  background: var(--tg-theme-secondary-bg-color, white);
  padding: 0;
  margin: 0;
}